<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <!-- <li class="text-center d-flex align-items-center justify-content-center">
            <img src="assets/img/cocha-somos-innovacion-blanco.png" width="200px" alt="Profile" class="rounded-circle">
        </li> -->
        <!-- <li class="nav-heading">FUNCIONARIOS</li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  routerLink="funcionarios/home">
                <i class="pi pi-home"></i>
                <span>Principal</span>
            </a>
        </li> -->

        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="usuarios/registro">
                <i class="pi pi-user-plus"></i>
                <span>Registro</span>
            </a>
        </li>


        <!-- <li  class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="funcionarios/consulta">
                <i class="pi pi-folder-open"></i>
                <span>Consultas</span>
            </a>
        </li> -->

        <!-- <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#mant-nav" data-bs-toggle="collapse" href="#">
            <i class="pi pi-cog"></i><span>Configuracion</span><i class="pi pi-chevron-down ms-auto"></i>
            </a>
            <ul id="mant-nav" class="nav-content collapse " data-bs-parent="#mant-nav">
                <li>
                    <a  routerLinkActive="active" routerLink="Test/Test">
                        <i class="pi pi-chevron-right"></i><span>Mi Perfil</span>
                    </a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="Test/Test">
                        <i class="pi pi-chevron-right"></i><span>Notificaciones</span>
                    </a>
                </li>
            </ul>
        </li> -->
    </ul>

</aside><!-- End Sidebar-->
